.meter {
	height: 9px;
  position: relative;
  background: #c52f2e;
  margin: 3px 0px;
}

.meter > span {
  display: block;
  height: 100%;
  background-color: #86d882;
}

.section {
  box-sizing: border-box;
  padding: 0 4px;
}
